.hidden{
	display: none !important;
}
.bdp-block{
	display:inline-block;
	width: 50%;
}
div.dataTables_wrapper div.dataTables_filter{
	text-align: left !important;
}
div.dataTables_wrapper div.dataTables-schedule_add_btn{
	text-align: right;
}
div.dataTables_schedule label {
	font-weight: normal;
	white-space: nowrap;
	text-align: left;
}

div.dataTables_schedule input {
	margin-left: 0.5em;
	display: inline-block;
	width: auto;
}

div.dataTables_schedule select {
	width: 75%;
	display: inline-block;
}

div.dataTables_type {
	text-align: right;
}

div.dataTables_type label {
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
}

div.dataTables_type select {
	width: 75%;
	display: inline-block;
}

div.dataTables_city {
	text-align: center;
}

div.dataTables_city label {
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
}

div.dataTables_city select {
	width: 75%;
	display: inline-block;
}
.block {
	display: block !important;
}

.detail_stock {
	border-width: 1px;
	border-style: solid;
}

#grade {
	border-width: 2px;
	border-style: solid; 
	border-radius: 30px;
}

hr.custom {
	margin-top: 5px;
	margin-bottom: 15px;
}

li.menu-category:after {
	content: none;
}