html, body{
	background: linear-gradient(to left, #5c1d8f , #d00db1);
	font-family: open sans;
	text-align: center;
	color:white;
}
@font-face {
    font-family: open sans;
	src: url('../fonts/regular.ttf') format('ttf'),
		 url('../fonts/regular.woff') format('woff');
}

.main-title{
	font-family: open sans;
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
	text-transform: uppercase;
	margin: 20px 20px 20px 0;
}
.side-lot{
	background-color: #231f42;
	width: 100%;
	height: 100%;
	padding-top: 10px;
}
.lot-number{
	font-size: 2.5em;
	font-weight: bold;
	line-height: 0.8em;
}
hr {
    display: block;
	height: 1px;
	width: 32vw;
    border: 0;
    border-top: 1px solid rgb(255, 255, 255);
    margin: 0em 2em;
	padding: 0; 
}
.top-border{
	border-top: 1px solid white;
	margin: 0px 20px;
}
.container-fluid{
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	height: 100%;
	margin-left: auto;
    margin-right: auto;
}
.bid-name{
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	position: absolute;
	top:0;
	width: 100%;
	min-height: 70px;
	z-index: 9;
}
.young-purple{
	background: linear-gradient(to top, #933b9a , #b725a6);
	text-align: left;
}
.purple-bold{
	background-color: #1b1837;
}
.purple-verybold{
	background-color: #231f42;
}
.rounded-iden{
	border-radius: 20px;
	background-color: #36aeac;
	width: 90%;	
	margin-left: auto;
	margin-right: auto;
}
.card-block{
	padding: 0;
}

.margin30{
	padding-top:20px;
}
.card{
	min-height: 580px;
	max-height: 580px;
	border-radius: 10px;
}
.block-content{
	padding: 10px !important;
}

.car-thumbnail{
	min-width: 100px;
	min-height: 30vh;
	max-height: 30vh;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
	background: url('../img/ford.jpg');
	background-size: cover;
}
.btn{
	margin-top: 5px;
	border-radius: 4px;
}

.control-label{
	font-size: 10pt !important;
}
.bottom-content{
	margin-top: 15px;
	border-radius: 0 0 10px 10px ;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
	background-color: white;
}

.content-page {
    margin-left: 0;
    margin-top: 0;
  }

  .content-page .content {
	padding: 0 5px 10px 5px;
	margin-top: 50px;
  }
.car-grade{
	border-radius: 50%;
	background-color: #903e98;
	width: 80px;
	height: 80px;
	padding-top: 10px;
	color: white;
	font-size: 12pt;
	margin: 10px;
	position: absolute;
	bottom: 0;
	right: 2vw;
}
.grade-alpha{
	font-size: 28pt;
	line-height: 25pt;
}
.first-bid{
	text-align: left;
	margin-top: 25px;
	padding-left: 39px;
	
}

.margin20{
	margin-bottom: 10px !important;
}
.bid-topbid{
	font-size: 2em;
	font-weight: bold;
	color: white;
	margin: 0px 20px;
}
.left-content{
	border-radius: 10px;
	margin-right: 20px;
	padding: 0;
	width: 45%;
}
.right-content{
	background-color: white;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
	border-radius: 10px ;
	margin-left: 0px;
	margin-top: 10px;
}

.bid-count{
	background: linear-gradient(to top, #3eca24, #52f332);
	color: #231f42;
	font-size: 45pt;
	font-weight: bold;
	border-radius: 50%;
	height:120px;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	line-height: 45px;
}

.count-wrap{
	padding-top: 10px;	
}

.top-bidder{
	font-size: 10pt;
	line-height: 35px;
	color: #231f42;
}

.img-top{
	bottom: 10px;
}

.fold-price{
	color: #36aeac;
	padding: 5px;
	margin-bottom: 10px;
}

.right-bottom-content{
	margin-top: 20px;
	padding-bottom: 35px;
}


.weight{
	font-weight: bold;
}

.item1{
	
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.item2{
	border-bottom: 1px solid #cccccc;
}

.item3{
	border-right: 1px solid #cccccc;
}

.item{
	padding: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	margin: 0px 10px;
}
.padding10{
	padding-top: 20px;
}
.padding11{
	margin-top: -11px;
	border-top-right-radius: 10px;
}
.pull-right{
	float: right;
}
.bidding-log{
	max-height: 300px;
	min-height: 300px;
	margin-bottom: 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #1b1837;
}

.line-height{
	line-height: 20pt;
	font-size: 8pt;
}

@media only screen
and (max-device-width : 320px) {
	.bid-name > h4 {
		font-size: 7pt;
	}
}

@media only screen
and (min-device-width : 321px)
and (max-device-width : 480px) {
	.bid-name > h4 {
		font-size: 10pt;
	}
}

@media only screen
and (max-device-width : 768px)
 {
    .car-grade{
		display:block;margin-left:auto;margin-right:auto;
	}
	.first-bid{
		text-align: center;
	}
	.first-bid > h4{
		font-size: 10pt;
	}
	.first-bid > h3{
		font-size: 15pt;
	}
	.left-content{
		width: 100%;
	}
	.card{
		max-height: 100%;
	}
}

@media only screen
and (max-device-width : 640px)
 {
	.bid-topbid{
		font-size: 15pt;
	}
}

@media only screen
and (max-device-width : 480px)
{
    .top-bidder{
		font-size: 15pt;
	}
}

@media only screen
and (max-device-width : 1144px)
{
    .bid-topbid{
		font-size: 15pt !important;
	}
    
}

@media only screen
and (max-device-width : 1199px)
{	
	.item1 {
	
		border-right: none !important;
	}
	.item2 {
		
		border-right: none !important;
	}
	.item3 {
		
		border-right: none !important;
	}

	.title-caption{
		font-size: 11pt !important;
	}
	.main-caption{
		font-size: 11pt !important;
	}

}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 992px)
{
	.bid-topbid{
		font-size: 15pt !important;
	}
}

@media only screen
and (min-device-width : 640px)
and (max-device-width : 1199px)
{
	.bid-topbid{
		font-size: 25pt;
	}
	.bid-name{
		font-size: 10pt;
	}
	.bid-topbid{
		margin-left: 10%;
	}
}

@media only screen
and (min-device-width : 992px){
	
	
}